<div id="header">
    {% include('header.html.twig') %}
</div>

<section class="sec1"> <h1> Hello world from layout</h1></section>
<section class="sec2"> </section>
<section class="sec3"> </section>
<section class="sec4"> </section>
<section class="sec5"> </section>
